---
import Footer from "../components/Footer.svelte";
import DashboardHeader from "../components/DashboardHeader.svelte";
import Sidebar from "../components/Sidebar.svelte";
import "../style/main.css"
import DashboardFooter from "../components/DashboardFooter.svelte";

interface Props {
	title: string;
}



const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="grid grid-cols-[auto_1fr] grid-rows-[min-content_auto] bg-gray-50 dark:bg-gray-950 h-screen">
		<DashboardHeader client:load></DashboardHeader>
		<Sidebar client:load></Sidebar>
		<main class=" h-full flex flex-col justify-between">
      <article class="p-4">
				<slot></slot>
			</article>
			<DashboardFooter></DashboardFooter>
    </main>
	</body>
</html>

<style is:global>
	.dialog-close-button::after {
		content: "x";
	}
</style>